## Perform the following operations using Python on the Facebook metrics data sets
### a.  Create data subsets for type of post
### b. Merge two subsets
### c. Sort Data on Page total likes
### d. Transposing Data
### e. Melting Data to long format
### f. Casting data to wide format

In [3]:
import pandas as pd
df=pd.read_csv("dataset_Facebook.csv", sep=";")
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

# a. Create data subsets for type of post

In [4]:
df.Type.unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

In [6]:
photo_df = df[df.Type=="Photo"]
status_df = df[df.Type=="Status"]
link_df = df[df.Type == 'Link']
video_df = df[df.Type == 'Video']

In [8]:
print("Photo subset:")
photo_df.head()

Photo subset:

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279

In [9]:
print("status subset:")
status_df.head()

status subset:

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108

# b. Merge two subsets

pd.merge(left dataframe,right dataframe, on(Column name (or list) present in both DataFrames to join on),how(type of join),suffixes	(Tuple of strings to append to overlapping column names (default=('_x', '_y')))

### Merge two subsets (Photo & Status) on 'Page total likes'

In [10]:
merged_photo_status=pd.merge(
    photo_df,
    status_df,
    on="Page total likes",
    how="inner")

In [11]:
merged_photo_status.head()

,Page total likes,Type_x,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
1,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
2,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
3,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
4,139441,Photo,3,12,3,3,0.0,2413,4373,177,...,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164

## c. Sort Data on Page total likes

In [12]:
sorted_by_likes = df.sort_values('Page total likes', ascending=False)

In [15]:
print(sorted_by_likes)

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441   Photo         2          12             4          3
8              139441  Status         2          12             7          3
1              139441  Status         2          12             3         10
12             139441   Photo         2          12             5         10
11             139441   Photo         2          12             5         10
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
496             81370   Photo         2           1             5          8
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0     0.0                       2752                             5091
8     0.0                      11844                            22538
1     0.0                      10460                            19057
12    0.0                       2847                             5133
11    0.0                       3112                             5590
..    ...                        ...                              ...
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime Engaged Users  Lifetime Post Consumers  \
0                       178                      109
8                      1530                     1407
1                      1457                     1361
12                      193                      115
11                      208                      127
..                      ...                      ...
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime Post Consumptions  \
0                           159
8                          1692
1                          1674
12                          133
11                          145
..                          ...
495                         985
496                         687
497                         795
498                         832
499                         743

     Lifetime Post Impressions by people who have liked your Page  \
0                                                 3078
8                                                15220
1                                                11710
12                                                3779
11                                                3887
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page  \
0                                                1640
8                                                7912
1                                                6112
12                                               2072
11                                               2174
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime People who have liked your Page and engaged with your post  \
0                                                  119
8                                                 1250
1                                                 1108
12                                                 152
11                                                 165
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

     comment   like  share  Total Interactions
0          4   79.0   17.0                 100
8          0  161.0   31.0                 192
1          5  130.0   29.0                 164
12         0   90.0   14.0                 104
11         0   88.0   18.0                 106
..       ...    ...    ...                 ...
495        5   53.0   26.0                  84
496        0   53.0   22.0                  75
497        4   93.0   18.0                 115
498        7   91.0   38.0                 136
499        0   91.0   28.0                 119

[500 rows x 19 columns]

## d. Transposing Data

In [19]:
transposed_df = df.head().transpose()

In [20]:
print(transposed_df)

                                                         0       1       2  \
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

                                                         3       4
Page total likes                                    139441  139441
Type                                                 Photo   Photo
Category                                                 2       2
Post Month                                              12      12
Post Weekday                                             2       2
Post Hour                                               10       3
Paid                                                   1.0     0.0
Lifetime Post Total Reach                            50128    7244
Lifetime Post Total Impressions                      87991   13594
Lifetime Engaged Users                                2211     671
Lifetime Post Consumers                                790     410
Lifetime Post Consumptions                            1119     580
Lifetime Post Impressions by people who have li...   61027    6228
Lifetime Post reach by people who like your Page     32048    3200
Lifetime People who have liked your Page and en...    1386     396
comment                                                 58      19
like                                                1572.0   325.0
share                                                147.0    49.0
Total Interactions                                    1777     393

## e. Melting Data to long format

pd.melt(df, id_vars(identifier variables that dont change(dont melt),remain as it is), value_vars(These columns will be unpivoted), var_name(The column name for the melted variable names) ,value_name(The column name for the values )

### Melt data to long format

In [24]:
melted = pd.melt(
    df,
    id_vars=["Type"],
    value_vars=["Page total likes", "Lifetime Post Total Reach"],
    var_name='Metric',
    value_name='Value'
)

In [27]:
print("Melted Data (long format)")
print(melted)

Melted Data (long format)
       Type                     Metric   Value
0     Photo           Page total likes  139441
1    Status           Page total likes  139441
2     Photo           Page total likes  139441
3     Photo           Page total likes  139441
4     Photo           Page total likes  139441
..      ...                        ...     ...
995   Photo  Lifetime Post Total Reach    4684
996   Photo  Lifetime Post Total Reach    3480
997   Photo  Lifetime Post Total Reach    3778
998   Photo  Lifetime Post Total Reach    4156
999   Photo  Lifetime Post Total Reach    4188

[1000 rows x 3 columns]

## f. Casting data to wide format

pd.pivot_table( index, column, values)

### Cast (pivot) the melted data back to wide format 
### Using pivot_table with mean aggregation to handle duplicates

In [28]:
wide = melted.pivot_table(
    index='Type', # These stay as rows
    columns='Metric', # These become column headers
    values='Value', # The values to fill in the table
    aggfunc='mean'  # Aggregation function (in case of duplicates)
)

In [30]:
print(wide)

Metric  Lifetime Post Total Reach  Page total likes
Type
Link                 18544.590909     116363.181818
Photo                13137.814554     122354.171362
Status               13078.888889     132647.044444
Video                51205.714286     135014.857143